.button {
  &-gradient { 
    display: inline-block;
    border: 1px solid var(--blue-color);
    border-radius: 37px;
    padding: 11px 24px 13px 24px;
    color: var(--blue-color);
    background-color: transparent;
    transition: all var(--transition);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -2%;

    &:hover {
      opacity: 0.8;
    }
  }
}


