.header { 
  height: 86px;

  &__fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--black-color);
    padding: 20px 0;
    z-index: 100;
  }

  &__logo {
    & img {
      @include breakpoint-600 {
        width: 115px;
      }
    }
  }

  &__content {
    @include flex-all-between;
  }

  &__link {
    display: inline-block;

    @include breakpoint-600 {
      padding: 10px 24px 10px 24px !important;
      font-size: 15px;
    }
  }
}