:root {

  // color vars
   --black-color: #000000;
   --white-color: #FFFFFF;
   --gradient-blue-color: rgba(20, 112, 219, 1.00);
   --gradient-blue-aqua-color: 90deg, #1470DB, #04E5B8;
   --light-gray-color: #9D8FA4;

   // transition vars
   --transition: 0.3s;
}