.hero {
  padding: 160px 0 100px;

  @include breakpoint-900 {
    padding: 130px 0 80px;
  }

  @media (max-width: 722px) {
    padding: 200px 0 80px;
  }

  @include breakpoint-500 {
    padding: 150px 0 80px;
  }

  &__title {
    position: relative;
    max-width: 866px;
    text-align: center;
    margin: 0 auto;
    transform: translateY(25px);
    
    @media (max-width: 722px) {
      transform: translateY(35px);
    }

    &-two {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      margin-bottom: 52px;
      letter-spacing: -10%;
      font-size: 140px;
      font-weight: 700;
      line-height: 160px;
      transform: translateY(0);

      & span {
        display: block;
        white-space: nowrap;
        color: transparent;   
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
	      background-clip: text;
	      background-image: linear-gradient(90.00deg, rgb(20, 112, 219),rgb(4, 229, 184));
        transform: translateX(-14px);

        @include breakpoint-900 {
          font-size: 120px;
          line-height: 130px;
        }

        @media (max-width: 722px) {
          font-size: 100px;
        }

        @media (max-width: 622px) {
          font-size: 70px;
          transform: translateX(-8px);
        }

        @include breakpoint-400 {
          font-size: 60px;
        }
      }

      &::before {
        content: '';
        display: none !important;
      }

      @include breakpoint-900 {
        font-size: 120px;
        gap: 30px;
      }

      @media (max-width: 722px) {
        font-size: 100px;
        margin-bottom: 0px;
      }

      @media (max-width: 622px) {
        gap: 20px;
        font-size: 70px;
        line-height: 70px;
      }

      @media (max-width: 450px) {
        gap: 15px;
      }

      @include breakpoint-400 {
        font-size: 60px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      right: 45px;
      background: url('../images/star.png') no-repeat;
      background-size: cover;
      width: 13px;
      height: 13px;
      display: block;
      white-space: nowrap;

      @media (max-width: 822px) {
        top: 3px;
        right: 7px;
        width: 10px;
        height: 10px;
      }

      @media (max-width: 722px) {
        right: 25px;
        top: 9px;
      }

      @media (max-width: 622px) {
        width: 9px;
        height: 9px;
        top: 5px;
        right: 45px;
      }

      @media (max-width: 522px) {
        right: -8px;
        top: 0;
      }

      @media (max-width: 450px) {
        width: 7px;
        height: 7px;
      }

      @include breakpoint-400 {
        right: 12px;
        top: 5px;
      }
    }

  //   & .flowtext {
  //     background: linear-gradient(90deg, 
  //         rgb(13, 92, 181), 
  //         rgb(4, 229, 184), 
  //         rgb(13, 92, 181));
  //     background-size: 200% auto;
  //     background-clip: text;
  //     -webkit-background-clip: text;
  //     -webkit-text-fill-color: transparent;
  //     animation: textflow 3s ease-in-out infinite;
  // }
  
  // @keyframes textflow {
  //     0% {
  //         background-position: 0% center;
  //     }
  //     50% {
  //         background-position: 100% center;
  //     }
  //     100% {
  //         background-position: 0% center;
  //     }
  // }

  .flowtext {
    background: linear-gradient(90deg, 
        rgb(13, 92, 181), 
        rgb(4, 229, 184), 
        rgb(13, 92, 181));
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textflow 1.5s linear infinite;
}
  
@keyframes textflow {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

  
  }

  &__yeld {
    color: var(--light-white-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.5px;
    letter-spacing: -2%;
    text-align: center;
    margin-bottom: 101px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    &::after {
      content: '*';
      font-size: 18px;
      font-weight: 400;
    }

    @media (max-width: 722px) {
      margin-bottom: 196px;
    }

    @include breakpoint-400 {
      transform: translateY(-5px);
      margin-bottom: 100px;
    }
  }

  &__scroll {
    @include flex-column;
    align-items: center;
    max-width: 14px;
    gap: 8px;
    margin: 0 auto;

    &-line {
      width: 1px;
      height: 44px;
      background-color: var(--white-color);
    }

    &-circle {
      @include flex-all-center;
      width: 14px;
      height: 24px;
      border-radius: 24px;
      border: 1px solid var(--white-color);
    }

    &-eclips {
      width: 2px;
      height: 4px;
      background-color: var(--white-color);
      animation: scrollAnimation 1.5s infinite;
      border-radius: 24px;
    }

    @keyframes scrollAnimation {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(2px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}